<div class="app-container">
    <div class="content-container">
        <span class="app-control-container">
            <h3>Stream Control</h3>
            <label>
                <throttle></throttle>
                Requests Per Second
            </label>
            <label>
                <latency></latency>
                Request Latency(ms)
            </label>
            <label class="dead-mans-switch">
                Power Switch
                <dead-mans-switch></dead-mans-switch>
            </label>
        </span>
    </div>
</div><div class="app-container">
    <div class="content-container">
        <span class="app-control-container">
            <h3>Stream Output</h3>
            <span class="message-control-container">
                <message-ticker></message-ticker>
            </span>
        </span>
    </div>
</div>