.boxed-content {
    background: #152f56;
    z-index: 10000;
    position: relative;
    width: 99.984%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    font-family:Tahoma, Geneva, sans-serif;
    font-size:16px;
    line-height:1.5;
    font-weight: 300;
    color:#f9f9f9;
    background-color:#afafaf;
    background-image: url('../images/stripe.png');
    -webkit-text-size-adjust: 100%;
    max-width: 1060px;
    overflow-x: hidden;
    display: block;
    margin: auto;
    padding: 40px 50px;
}

.hystrix-dashboard-container{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-control-container{
}

.app-container {
    display: inline-table;
    width: 95%;
    padding: 20px;
}

.slider-bro {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.dead-mans-switch {
    float: right;
    display: inline-block;
    margin-bottom: 3rem;
}