.boxed-content {
    background: #152f56;
    z-index: 10000;
    position: relative;
    width: 99.984%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hystrix-dashbord {
    background: white;
    border-radius: 5px;

}

.site-header {
    display: block;
    margin: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

.main-container{
    display: flex;
}

body {
    font-family:Tahoma, Geneva, sans-serif;
    font-size:16px;
    line-height:1.5;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#f9f9f9;
    background-color: #031131 !important;
    background-image: url('../images/stripe.png');
    -webkit-text-size-adjust: 100%;
    max-width: 1500px;
    overflow-x: hidden;
    display: block;
    margin: auto !important;
    padding: 40px 50px;
}

.hystrix-dashboard-container{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #284A81;
    color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-control-container{
    color: #f9f9f9;

}

.stream-data {
    color: #f9f9f9;
}

.app-container {
    padding: 20px;
}

.slider-bro {
    margin-top: 3rem;
}

.dead-mans-switch {
    text-align: right;
    display: inline-block;
}

.dead-mans-switch::before {
}

.slider-control{
    display: flex;
    margin-right: 5px;
}

.slider-space {
    width: 2%;
}

.sliders {
    width: 90%;
}

.content-container {
    background: #284A81;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-control-container{
    text-align: center;
}

label {
    display: block !important;
    text-align: left;
    margin-bottom: 3rem !important;



}

.site-border {
    background: gold;
    background: -webkit-linear-gradient(left, rgba(150, 134, 4, 0.98), #e2d65b);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(150, 134, 4, 0.98), #e2d65b);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(150, 134, 4, 0.98), #e2d65b);
    /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(150, 134, 4, 0.98), #e2d65b);
    /*Standard*/
    height: 5px; }


.stream-table {
}

.failed {
    color: firebrick;
    font-weight: bold;
    font-size: 0.75rem;
}

.worked {
    color: green;
    font-weight: bold;
    font-size: 0.75rem;
}